.PortfolioCard{
	text-decoration: none;
	color: #000000;
	display: flex;
	flex-direction: column;
	transition: 0.4s transform;
	height: 100%;
	&:hover{
		text-decoration: none;
		color: #000000;
		transform: scale( 1.1);
	}

	:global{
		.card{
			height: 100%;
		}
	}
	
}